<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Project desc:</strong>
    <%= project.project_desc %>
  </p>

  <p>
    <strong>Project budget:</strong>
    <%= project.project_budget %>
  </p>

</div>
